<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


 <form th:action="@{/save-deal}" method="post">

     <label for="amount">Amount:</label>
     <input type="text" id="amount" name="dealAmount">

     <label for="from_currency">from Currency:</label>
     <input type="text" id="from_currency" name="fromCurrency">

     <label for="to_currency">to Currency:</label>
     <input type="text" id="to_currency" name="toCurrencyISOCode">

     <div th:each="error : ${errors}">
         <p th:text="${error.defaultMessage}"></p>
     </div>

     <input type="submit" value="Save">
 </form>
</body>
</html>